<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
</head>
<body>
    <p>Here the user can scroll through reviews and tickets he has access
    to. He also can choose to request a review (create ticket) or post
    a review (up in the feed). Then, on each ticket from his feed,
    he can choose to post a review.</p>
    <p>{{feed}}</p>

    <p><a href="{% url 'base:feed' %}">Feed</a></p>
    <p><a href="{% url 'base:posts' %}">Posts</a></p>
    <p><a href="{% url 'base:following' %}">Following</a></p>
    <p><a href="{% url 'logout' %}?next={% url 'login' %}">Logout</a></p>

    <p><a href="{% url 'base:ticket_creation' %}">Request a Review</a></p>
    <p><a href="{% url 'base:review_creation_direct' %}">Post a Review</a></p>

    {% if posts %}
    {% for post in posts %}
        {% if post.content_type == "TICKET" %}
            {% include "base/ticket_snippet.html" %}
        {% elif post.content_type == "REVIEW" %}
            {% include "base/review_snippet.html" %}
        {% else %}
            <p>it's an error</p>
        {% endif %}
    {% endfor %}
    {% else %}
        <p>There are no posts. Follow more people !</p>
    {% endif %}

</body>
</html>