<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
</head>
<body>
    {% extends "base/base.html" %}

    {% block page %}

    <p><a href="{% url 'base:ticket_creation' %}">Request a Review</a></p>
    <p><a href="{% url 'base:review_creation_direct' %}">Post a Review</a></p>

    {% if posts %}
        {% for post in posts %}
            {% if post.content_type == "TICKET" %}
                {% include "base/ticket_snippet.html" %}
                {% if post.has_review == False %}
                    <p><a href="{% url 'base:review_create_response' post.id %}">Post a Review</a></p>
                {% endif %}
            {% elif post.content_type == "REVIEW" %}
                {% include "base/review_snippet.html" %}
            {% else %}
                <p>it's an error</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>There are no posts. Follow more people !</p>
    {% endif %}

    {% endblock %}
</body>
</html>