<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Follow</title>
</head>
<body>
    {% extends "base/base.html" %}


    {% block page %}
    <h2 style="text-align: center;"> Follow new users </h2>

    <div style="display: grid; border: 5px transparent; padding:20px; justify-content: center">
    <form action="{% url 'base:search_result' %}" method="GET">
        <input name="username" type="text" placeholder="username">
        <input type="submit" value="submit">
    </form>
    </div>


    <h2 style="text-align: center;">Following</h2>

    <div style="display: grid; border: 5px transparent; padding:20px; justify-content: center">
    {% if following %}
    {% for f in following %}
        <li>you are following {{f.username}}</li>
        <li><a href="{% url 'base:unfollow' f.pk %}">Unfollow</a></li>
    {% endfor %}
    {% else %}
        <p>No one is following you yet. But the more
        you post reviews, the more likely people will
        follow you.</p>
    {% endif %}
    </div>


    <br><br><br>


    <h2 style="text-align: center;">Followers</h2>

    <div style="display: grid; border: 5px transparent; padding:20px; justify-content: center">
    {% if followers %}
    {% for f in followers %}
        <li>{{f.username}} is following you</li>
    {% endfor %}
    {% else %}
        <p>You aren't following anyone. But you can
        use the search box above if needed.</p>
    {% endif %}
    </div>
    {% endblock %}

</body>
</html>