
    {% if post.user == request.user %}
        <p>You posted a review</p>
    {% else %}
        <p>{{post.user}} posted a review</p>
    {% endif %}
    <ul class="post-attributes">
        <li class="time-created">{{ post.time_created }}</li>
<br>
        <li class="headline">{{ post.headline }}</li>
        <li>{% load my_filter %}
            {% for _ in post.rating|times %}
                <span>★</span>
            {% endfor %}
        </li>
<br>
        <li>{{ post.body }}</li>
    </ul>
    <div class="post-container">
        <ul class="post-attributes">
            <li>Ticket - {{ post.ticket.user }}</li>
<br>
            <li>{{ post.ticket.title }}</li>
        </ul>
    </div>