<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Review </title>
    <style>
        section.post {
            display: grid;
            justify-content: center;
            grid-template-columns: 500px;
            gap: 10px 0px;
        }
        div.post-container {
            border: solid 1px black;
            padding: 10px;
        }
        h2 {
            text-align:center;
        }
  </style>
</head>
<body>
    {% extends "base/base.html" %}


    {% block page %}
    <section class="post">
    <div class="post-container">
    <h2>Create a review</h2>
    <form method="post">
        {% csrf_token %}
        <h4>Book/Article</h4>
        {{ ticket_form.as_p }}
        <br><br>
        <h4>Review</h4>
        {{ review_form.as_p }}
        <input type="submit" value="Save">
    </form>
    </div>
    </section>
    {% endblock %}
</body>
</html>