<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create or edit a Ticket</title>
    <style>
        section.post {
            display: grid;
            justify-content: center;
            grid-template-columns: 500px;
            gap: 10px 0px;
        }
        h2 {
            text-align:center;
        }
    </style>
</head>
<body>
    {% extends "base/base.html" %}


    {% block page %}
    <section class="post">
    {% if "edit_ticket" in request.path %}
        <h2>Edit a ticket</h2>
    {% else %}
        <h2>Create a ticket</h2>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit">
    </form>
    </section>
    {% endblock %}
</body>
</html>