<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing page</title>
</head>
<body>

    <h1 style="text-align: center;">LITReview</h1>

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <h2>Sign up Now</h2>
    <p><a href="{% url 'base:signup' %}">Sign up</a></p>
</body>
</html>