<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
    <p>The user will have two possibilities. Either he signs up or chooses to
    go back to the landing page. If he chooses to sign up, he needs to enter
    a username and a password which needs to be confirmed (only required fields
    for built-in user class).</p>
    <h2>Sign up</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">submit</button>
    </form>
    <p><a href="{% url 'base:landing page' %}">Go back</a></p>

</body>
</html>